.pagination li{
    margin: 1px;
    padding: 0px;
    background-color: #eee;
    /* padding: 14px 4px; */
}

.pagination li a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #999;
    margin: 1px;
    padding: 0px;
    padding: 4px 8px;
    border-radius: 4px;
}

.pagination .active a {
    background-color: aquamarine;
}